body {
    width: 100%;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 35px;
}

.container {
    background: lightgray;
    width: 100%;
}

.content {
    width: 60%;
    margin: auto;
    background: white;
    min-height: 600px;

}

.user {
    font-weight: bold;
    font-size: 1.8em;
    padding: 10px 15px;
}

.box {
    color: #000000;
    display: block;
    padding: 10px 15px;
}

.center-box {
    width: 50%;
    padding: 30px 0;
    margin: auto;
}

.line {
    border-bottom: 1px solid lightgray;
}

.tweet-form {
    background: lightblue;
    padding: 10px 15px;
}

.comment-form {
    padding: 10px 15px;
}

a {
    text-decoration: none;
    color: #0084b4;
}

a:hover {
    text-decoration: underline;
}

a.box{
    text-decoration: none;
}

.top-bar {
    background: white;
    border-bottom: 2px solid blue;
}

.top-div {
    float: left;
    padding: 15px;
}

.single-tweet {
    font-size: 1.4em;
}

.comment-line {
    font-size: 0.85em;
    color: gray;
}

.hov:hover {
    background-color: #eeeeee;
}

.bold {
    font-weight: bold;
}

.message {
    padding: 20px 45px;
    font-size: 1.2em;
}